body {
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  /* background-color: green; */
}
#fontface {
  font-family: UltaViolet bb;
}
